@using PartialWidgetPage;

@model Kentico.PageBuilder.Web.Mvc.ComponentViewModel<PartialWidgetPage.PartialWidgetPageModel>

@if (Model.Properties.RenderMode.Equals("ServerRequest", StringComparison.InvariantCultureIgnoreCase) && !string.IsNullOrWhiteSpace(Model.Properties.ActualUrl))
{
    @Html.PartialWidgetPage(Model.Properties.ActualUrl, Model.Properties.RenderAsPartialUrlParameter)
}
else if (Model.Properties.RenderMode.Equals("Ajax", StringComparison.InvariantCultureIgnoreCase) && !string.IsNullOrWhiteSpace(Model.Properties.ActualUrl))
{
    @Html.PartialWidgetPageAjax(Model.Properties.ActualUrl, Model.Properties.RenderAsPartialUrlParameter)
}
@*  Sadly inline doesn't seem to work in widget mode :(
    else if (!Model.Properties.IsEditMode && Model.Properties.RenderMode.Equals("Inline", StringComparison.InvariantCultureIgnoreCase) && !string.IsNullOrWhiteSpace(Model.Properties.ControllerName))
{
    Html.RenderAction("RenderFromWidget", "PartialWidgetPage", new { DocumentID = Model.Page.DocumentID, NodeAliasPath = Model.Properties.SinglePath, ControllerName = Model.Properties.ControllerName, ActionName = Model.Properties.ActionName, SiteName = Model.Properties.SiteNameOverride, Culture = Model.Properties.CultureOverride });
}
else if (Model.Properties.IsEditMode && Model.Properties.RenderMode.Equals("Inline", StringComparison.InvariantCultureIgnoreCase) && !string.IsNullOrWhiteSpace(Model.Properties.ControllerName))
{
    <div class="PartialWidgetPageNotice">Partial Page will appear on once out of edit mode.</div>
}*@ 
else { 
    <p>Configure widget to render partial page.</p>
}