@using PartialWidgetPage
@using Kentico.PageBuilder.Web.Mvc;
@using Kentico.Web.Mvc;
@model PartialWidgetPage.PartialWidgetPageInlineModel


@if (!Model.IsEditMode)
{
    Request.RequestContext.HttpContext.Kentico().PageBuilder().ResetPagebuilderContext(Model.RequestedPageDocumentID);

    Html.RenderAction(Model.ActionName, Model.ControllerName, new { DocumentID = Model.RequestedPageDocumentID });

    Request.RequestContext.HttpContext.Kentico().PageBuilder().ResetPagebuilderContext(Model.CurrentDocumentID);
}
else
{
    <div class="PartialWidgetPageNotice">Partial Page will appear on once out of edit mode.</div>
}