@using Kentico.Web.Mvc
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@if (Context.Kentico().PageBuilder().EditMode)
{
    <strong>
        This component needs to be setup or is misconfigured. Please resolve the
        errors below:
    </strong>

    <div asp-validation-summary="All" class="text-danger"></div>
}